<style>
    .banner {
        position: relative;
        width: 100%;
        height: auto;
        overflow: hidden;
    }

    .banner__content {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .banner__image img {
        width: 100%;
        height: auto;
    }
</style>

<div class="@bannerStyle">
    <div class="banner__content">
        <div class="banner__image">
            <img src="https://i.imgur.com/kvCnBG3.jpeg" alt="HQH Sales Management">
        </div>
    </div>
</div>

<!-- about section start -->
<div class="about_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="about_taital">Giới thiệu về Chúng Tôi</h1>
                <p class="about_text">
                    <b>Thiết bị điện tử HQH</b><br />
                    Công ty HQH chuyên cung cấp các thiết bị điện tử hiện đại và đa dạng, từ thiết bị gia dụng thông minh đến linh kiện và phụ kiện công nghệ. Với phương châm "Chất lượng hàng đầu, phục vụ tận tâm", HQH cam kết mang đến sản phẩm chất lượng cao và dịch vụ hậu mãi tận tình.
                </p>
            </div>
        </div>
        <div class="about_section_2">
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="about_img"><img src="https://i.imgur.com/zgzlKRZ.jpeg"></div>
            </div>
            <div class="col-md-6">
                <div class="fresh_taital">Đặc điểm nổi bật</div>
                <p class="ipsum_text">
                    Công ty HQH chuyên cung cấp các thiết bị điện tử hiện đại như điện thoại, máy tính và CPU.
                    Với phương châm "Chất lượng hàng đầu, phục vụ tận tâm", HQH cam kết mang đến sản phẩm chất lượng cao
                    và dịch vụ hậu mãi tận tình. Đội ngũ nhân viên chuyên nghiệp của chúng tôi luôn sẵn sàng đáp ứng mọi
                    nhu cầu của khách hàng, đảm bảo sự hài lòng tối đa. Hãy đến với HQH để trải nghiệm sự khác biệt và tiên
                    tiến trong từng sản phẩm.
                </p>
                <div class="read_bt"><a href="#">Chi tiết</a></div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="fresh_taital">Giới thiệu dịch vụ</div>
                <p class="ipsum_text">
                    Công ty HQH tự hào cung cấp dịch vụ bán hàng các thiết bị điện tử hiện đại như điện thoại, máy tính, và CPU.
                    Với phương châm "Chất lượng hàng đầu, phục vụ tận tâm", HQH cam kết mang đến cho khách hàng sản phẩm chất lượng cao
                    và dịch vụ hậu mãi tận tình. Đội ngũ nhân viên chuyên nghiệp của chúng tôi luôn sẵn sàng đáp ứng mọi nhu cầu của khách hàng,
                    đảm bảo sự hài lòng tối đa. Hãy đến với HQH để trải nghiệm sự khác biệt và tiên tiến trong từng sản phẩm.
                </p>
                <div class="read_bt"><a href="#">Chi tiết</a></div>
            </div>
            <div class="col-md-6">
                <div class="about_img"><img src="https://i.imgur.com/9YTwysc.jpeg" alt="HQH Electronics"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="about_img"><img src="https://i.imgur.com/AhMBK5l.jpeg"></div>
            </div>
            <div class="col-md-6">
                <div class="fresh_taital">Cam kết dịch vụ</div>
                <p class="ipsum_text">
                    Công ty HQH chuyên cung cấp các thiết bị điện tử hiện đại như điện thoại, máy tính và CPU.
                    Với phương châm "Chất lượng hàng đầu, phục vụ tận tâm", HQH cam kết mang đến cho khách hàng những sản phẩm chất lượng cao
                    và dịch vụ hậu mãi chu đáo. Đội ngũ nhân viên chuyên nghiệp của chúng tôi luôn sẵn sàng đáp ứng mọi nhu cầu của khách hàng,
                    đảm bảo sự hài lòng tối đa. Hãy đến với HQH để trải nghiệm sự khác biệt và tiên tiến trong từng sản phẩm.
                </p>
                <div class="read_bt"><a href="#">Chi tiết</a></div>
            </div>
        </div>
        <br />
    </div>
</div>
<!-- about section end -->
@code {
    private string bannerStyle = "banner";
}
